body{
	background-image: url('img/darkbrickwall.png');
}

.aftercar{
	height: 300px;
	width:auto;
	opacity: 0.9;
	background-color: white;
}

.hometext{
	width: 500px;
    padding: 40px;
    border: 5px solid navy;
    margin: 300px;
}


////////////NAV BAR BELOW////////////
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.innerWrapper {
  max-width: 920px;
  margin: 0 auto;
}

h2,
h4 {
  font-family: 'Abril Fatface', serif;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 100px;
  margin: 0 0 30px 0;
}
/* NAV SECTION */

.companyName {
  padding: 20px 17px 15px 15%;
  margin: 0;
  float: left;
  color: #fff;
  width: 45%;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: left;
  font-variant: small-caps;
}
.indexName {
  padding: 20px 17px 24px 15%;
  margin: 0;
  float: left;
  color: #fff;
  width: 45%;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: left;
  font-variant: small-caps;
}

nav {
  padding: 0;
  margin: 0;
  width: 55%;
  float: right;
}

header nav ul {
  float: right;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  border-right: 20px solid rgba(0, 0, 0, 0.7);
}

header nav ul li {
  float: left;
  margin: 0;
  display: inline;
  width: 25%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}

header nav ul li:hover {
  background: none;
  font-style: bold;
  transform: scale(1.2);
}

header nav ul li a {
  text-decoration: none;
  padding: 25px 20px;
  color: #fff;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

header nav ul li a:focus {
  outline: none;
}
/* HEAD SECTION */

header {

}

.hero {
  text-align: center;
  text-shadow: 1px 0 2px #595859;
}

.hero h1 {
  font-size: 5.5rem;
  margin: 0;
  padding-top: 200px;
  font-family: 'Abril Fatface', serif;
  color: #fff;
}

.hero h3 {
  padding-bottom: 250px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width:900px) {
  .companyName {
    width: 100%;
    text-align: center;
    padding: 4% 4%;
  }
  .mainNav {
    width: 100%;
  }
  header nav ul {
    border: none;
  }
  header nav ul li a {
    padding: 25px 2%;
  }
}
///////////END OF NAV BAR////////////


/////////////////////////
@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
}


/////////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}


img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 100%;
  padding: 5%;
  border-radius: 15px;
  border-style: dotted;
  border-color: rgba(177, 163, 255);
  background:white;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slidetitle {
	background-image: url('img/desert.jpg');
  width: 100%;
  padding: 5%;
  border-radius: 15px;
  border-style: dotted;
  border-color: rgba(177, 163, 255);
  background:black;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  text-decoration: underline;
}

.projecttitle{
	  width: 50%;
  padding: 5%;
  border-radius: 5px;

}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {

   background-attachment: fixed;  
}

#slide1:before {

  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {

  background-attachment: fixed;
}

#slide3:before {
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}